# --- Apache Jena Fuseki ---
FUSEKI_IMAGE=stain/jena-fuseki:latest
FUSEKI_PORT=3030
FUSEKI_DATASET=ds
JAVA_OPTIONS=-Xmx2g

# Credenciais Fuseki
FUSEKI_ADMIN_USER=admin
FUSEKI_ADMIN_PASS=admin

FUSEKI_USER=user
FUSEKI_PASS=user

# --- WebProtégé ---
WEBPROTEGE_IMAGE=protegeproject/webprotege:latest
WEBPROTEGE_PORT=5000

# Dados para criação automática do Admin (WebProtégé)
WEBPROTEGE_ADMIN_USER=admin
WEBPROTEGE_ADMIN_EMAIL=admin@exemplo.org
WEBPROTEGE_ADMIN_PASS=admin

# --- MongoDB (para WebProtégé) ---
MONGODB_IMAGE=mongo:4.1-bionic
MONGODB_PORT=27017
